.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .botaoDiv {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .main {
      padding: 10px;
    }
  }