.likes{
    display: flex;
    flex-direction: row;
}

.likes > div{
    padding-top: 0.5rem;
}

@media (max-width: 600px){
    .main>h2{
        font-size: 20px;
    }
    .main>p{
        font-size: 10px;
    }
}